@font-face {
    font-family: 'Constantine';
    src: url(C:\Users\vdvla\Desktop\Fonts\Constantine\Constantine.ttf);
}


.heading {
    display: block;
    margin-top: -5%;
    margin-left: 25%;
    font-family: 'Constantine', sans-serif;
    font-weight: 500;
    font-size: 400%;
}

.hd-0 {
    margin-top: 8%;
    margin-left: 22.5%;
    font-weight: bolder;
}

#underline {
    position: absolute;
    background-color: #000;
    height: 3px;
    width: 250px;
    bottom: 86%;
    left: 41.8%;
}

.hd-1 {
    margin-bottom: -2%;
}

.hd-2 {
    margin-bottom: -2%;
    margin-left: 21%
}

.hd-3 {
    margin-left: 38%;

}

.hd-4 {
    font-size: 90%;
    margin-left: 3%;
    font-style: oblique;

    &::before {
        content: "—";
        color: #000;
        margin-right: 2%;
    }
}

.hd-arrow {
    position: absolute;
    cursor: pointer;
    margin-left: 23%;
    margin-top: 10%;
}